* {
  margin: 0;
  padding: 0;
}

iframe {
  display: none;
}

body {
  font: 100% 1rem;
  font-family: "Rajdhani", sans-serif;
  background: black;
  color: grey;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  letter-spacing: 0.1rem;
}

#body {
    margin: auto;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  background-color: white;
  height: 2px;
  width: 40%;
  margin: auto;
  margin-bottom: 1.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 3.3rem;
  transition: font-size 0.2s;
}

h1:hover {
  font-size: 3.7rem;
}

span {
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

span:hover {
  color: green;
}

h2 {
  font-size: 0.8rem;
  text-align: center;
}

input {
  border: none;
  background-color: black;
  color: black;
  outline: none !important;
}

/* ---------------------------------------
buttons
------------------------------------------ */

button:hover {
  color: green;
}

button {
  position: absolute;
  bottom: 0;
  margin: 2rem;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  font-size: 0.7rem;
  outline: none !important;
}

#restart {
    left: 0;
}

#stopMusic {
    right: 0;
}

/* ---------------------------------------
alert
------------------------------------------ */

.alert {
  height: 4rem;
  width: 45%;
  background-color: green;
  position: absolute;
  z-index: 1000;
  margin: auto;
  left: 0;
  right: 0;
  top: 23%;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

/* ---------------------------------------
keyboard
------------------------------------------ */

#container {
  margin: auto;
  width: 688px;
  padding-top: 2rem;
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#keyboard .space {
  margin-bottom: 3rem;
}

.capslock, .tab, .left-shift {
  clear: left;
}

#keyboard .tab, #keyboard .delete {
  width: 70px;
}

#keyboard .capslock {
  width: 80px;
}

#keyboard .return {
  width: 77px;
}

#keyboard .left-shift {
  width: 95px;
}

#keyboard .right-shift {
  width: 109px;
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

#keyboard .space {
  clear: left;
  width: 681px;
}

.on {
  display: none;
}

#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}

/* ---------------------------------------
word field
------------------------------------------ */

#word-container {
  height: 55px;
  width: 40%;
  border: 1px solid white;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
  position: relative;
}

.marquee {
  width: 90%;
  overflow: hidden;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.marquee span {
  text-transform: none !important;
  color: green;
  font-size: 1.5rem;
}

/* ---------------------------------------
timer
------------------------------------------ */

#time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5rem;
  font-size: 2rem;
}

/* ---------------------------------------
footer
------------------------------------------ */

footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  font-size: 0.7rem;
  margin: auto;
}

footer ul li {
  margin: auto;
  text-align: center;
  padding: 0.3rem;
}

/* ---------------------------------------
media queries
------------------------------------------ */

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  #word-container {
      width: 80%;
      margin-bottom: 0rem;
      margin-top: 1rem;
  }

  #keyboard .space {
    margin-bottom: 1rem;
  }

  h2 {
      padding-right: 3rem;
      padding-left: 3rem;
  }

  #time {
      padding-top: 0;
  }

  .alert {
    height: 3rem;
    top: 24%;
  }
}
/* On screens that are 715px or less */
@media screen and (max-width: 715px) {

    #container {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: .5rem;
      padding-left: 10rem;
    }

    #keyboard li {
      float: left;
      margin: 0 5px 5px 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }

    #keyboard .space {
      margin-bottom: 1.5rem;
    }

    .capslock, .tab, .left-shift {
      clear: left;
    }

    #keyboard .tab, #keyboard .delete {
      width: 35px;
    }

    #keyboard .capslock {
      width: 40px;
    }

    #keyboard .return {
      width: 38.5px;
    }

    #keyboard .left-shift {
      width: 47.5px;
    }

    #keyboard .right-shift {
      width: 54.5px;
    }

    #keyboard .space {
      clear: left;
      width: 350px;
      margin-left: 1rem;
    }

    #time {
        padding: 0;
        padding-right: 4rem;
    }

    .marquee span {
        font-size: 1rem;
    }

    .alert {
      font-size: 1.5rem;
      height: 2rem;
      top: 30%;
    }

/* On screens that are 600px or less */
@media screen and (max-width: 650px) {
  #container{
      padding-left: 7rem;
  }

  #keyboard .space {
    margin-bottom: 1rem;
  }

  .alert {
    top: 32%;
  }
}

/* cell phones */
@media screen and (max-width: 568px){
    #container{
        padding-left: 5rem;
    }

    .alert {
      font-size: 1rem;
      top: 31%;
    }

}
@media screen and (max-width: 480px){
    #container{
        padding-left: 3rem;
    }

    .alert {
      font-size: .8rem;
      top: 34%;
      height: 1.5rem;
    }
}

@media screen and (max-width: 400px){
    #container{
        padding-left: 0rem;
    }

    h2 {
        font-size: .5rem;
    }

    .alert {
      top: 32%;
    }
}
